---
import Title from "@/components/utils/Title.astro";
import LayoutLanding from "@/layout/LayoutLanding.astro";
---

<LayoutLanding>
    <Title>
        En Desarrollo...
    </Titlt>
    <!-- <h1>Servicios</h1>
    <p>Estos son los servicios que ofrezco:</p>
    <ul>
        <li>Desarrollo Web</li>
        
    </ul> -->
</LayoutLanding>