---
import { Languages } from "@/types/cv.type";
import Section from "../utils/Section.astro"

interface Props {
  summary: string
  languages: Languages[]
}

const { summary, languages } = Astro.props;

---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
</Section>
<Section title="Idiomas">
  <div>
    {
      languages.map(({language, fluency}) => {
        return (
          <p class="">
            {language} - {fluency}
          </p>
        )
      })
    }
  </div>
</Section>
