---
import LandingSecction from "@/components/utils/LandingSecction.astro";
import Title from "@/components/utils/Title.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import EducationCard from "./EducationCard.astro";
import CertificatesComponent from "./Certificates.astro";
import type { Certificate, Education, EducationCourse } from "@prisma/client";

interface ExtendedEducation extends Education {
  courses: EducationCourse[];
}

interface Props {
  education: ExtendedEducation[];
  certificados: Certificate[];
}
const { education, certificados } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<LandingSecction id="education">
  <Title>
    {t("education.title")}
  </Title>
  <ul class="gap-5 grid" >
    {
      education.map((edu) => (
        <li>
          <EducationCard education={edu} />
        </li>
      ))
    }
    {
        certificados.map((certificado) => (
            <li>
            <CertificatesComponent cretificados={certificado} />
            </li>
        ))
    }
  </ul>
</LandingSecction>
