---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
interface Props {
  class?: string;
}

const { class: className } = Astro.props;

---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Portafolio Jose Miguel Vasquez</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href="/favicon.svg" />

    <meta property="og:url" content="https://truejomiv.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jose Miguel Vasquez" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/favicon.svg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="truejomiv.com" />
    <meta property="twitter:url" content="https://truejomiv.com" />
    <meta name="twitter:title" content="Jose Miguel Vasquez" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <ClientRouter/>
  </head>
  <body class:list={[className, "relative dark:bg-main-400"]}>
    <slot />
  </body>
</html>